@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Oswald", "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-clipy {
  clip-path: polygon(0 0, 100% 60%, 100% 100%, 0 76%);
}
